.header { 
    border: 1px solid black;
    color: red;
    grid-area: header; 
    padding:10px;
    text-align: center;
    font-style: italic;
  }
  .menu { grid-area: menu; }
  .main {
    display: grid;
    grid-template-areas: 
    '   main2 main2 right2 right1 main1 main1 ';
    grid-area: main;
    
  }
  .art1{
    grid-area: main1;
    border:1px solid;
    padding:10px;
    
  }
  .art1 > blockquote{
    border: 1px solid;
    padding:10px;
    
  }
  .art2{
    grid-area:main2;
    border: 1px solid;
    padding:10px;
    
  }
  .as1{
    grid-area: right1;
    border: 1px solid;
    padding:10px;
    
  }
  .as2{
    grid-area: right2;
    border: 1px solid;
    padding:10px;
    
  }
  .item4 { grid-area: right; }
  .footer { 
    border: 1px solid;
    grid-area: footer; 
    padding:10px; 
    width: 100%; 
    text-align: center;
   }
   .footer > p{
  display: inline-block;
    margin-left: 20px;
   }
  
  .grid-container {
    display: grid;
    grid-template-areas:
      'header header header topnav'
      'main   main   main   main'
      'footer   footer footer footer';
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
  .topnav{
    display: flex;
   padding: 20px;
   border:1px solid;
   grid-area: topnav;
   
  }
  .topmenu{
   text-align: left; 
  }
  .topmenu > li{
  display: flex;
  }